@charset "utf-8";

@import 'base.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a:link,
a:visited {
   text-decoration: none;
   color: $base-font-color;
}

ul,
li {
   list-style: none;
}

body {
   font-family: $primary-font;
   font-size: $base-size;
}

.container {
   width: 1300px;
   margin: 0 auto;
   background: $primary-color;

   @media screen and (max-width: 1300px) {
      width: 100%;
   }
}
